<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rfidcer.dao.OutstockItemMapper">
	<resultMap id="BaseResultMap" type="cn.rfidcer.bean.OutstockItem">

		<id column="outstockItemId" property="outstockItemId" jdbcType="CHAR" />
		<result column="outstockMainId" property="outstockMainId"
			jdbcType="CHAR" />
		<result column="goodsId" property="goodsId" jdbcType="CHAR" />
		<result column="goodsDetailId" property="goodsDetailId" jdbcType="CHAR" />
		<result column="goodsBatch" property="goodsBatch" jdbcType="VARCHAR" />
		<result column="outstockNum" property="outstockNum" jdbcType="DECIMAL" />
		<result column="traceCode" property="traceCode" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="createBy" property="createBy" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="updateBy" property="updateBy" jdbcType="VARCHAR" />
		<result property="productId" column="productId" />
		<result property="productName" column="productName" />
		<result property="productStandardDetailId" column="productStandardDetailId" />
		<result property="deliverType" column="deliverType"/>
		<result property="deliveryTime" column="deliveryTime"/>
		<result property="deliveryBy" column="deliveryBy"/>
		<association property="product" javaType="Product">
			<id property="productId" column="productId" />
			<result property="productName" column="productName" />
		</association>
		<association property="standardDetail" javaType="ProductStandardDetail">
			<id property="productStandardDetailId" column="productStandardDetailId" />
			<result property="productStandardNum" column="productStandardNum" />
			<association property="productStandard" javaType="ProductStandard">
				<id property="productStandardId" column="productStandardId" />
				<result property="productStandardName" column="productStandardName" />
			</association>
		</association>
	</resultMap>
	
	
	
	<resultMap type="OutstockCountInfo" id="outstockCountInfo"></resultMap>
	<sql id="Base_Column_List">

		outstockItemId, outstockMainId, goodsId, outstockNum, traceCode,
		createTime, createBy,
		updateTime, updateBy
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from t_outstock_item
		where outstockItemId =
		#{outstockItemId,jdbcType=CHAR}
	</select>
	
	<select id="selectByGoodsDetailId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_outstock_item
		where goodsId =#{goodsId}
	</select>
		
	<select id="selectByBean" resultMap="BaseResultMap"
		parameterType="cn.rfidcer.bean.OutstockItem">
		select
		<include refid="Base_Column_List" />
		from t_outstock_item
		where 1 = 1
		<if test="outstockitem != null">
			<if test="outstockitem.outstockMainId != null">
				and outstockMainId = #{outstockitem.outstockMainId,jdbcType=CHAR}
			</if>
		</if>		
	</select>
	<select id="listOIWOMI" resultMap="BaseResultMap">
		select
		i.outstockItemId,i.outstockMainId,i.goodsId,i.outstockNum,i.traceCode,p.productId,p.productName,g.productStandardDetailId,st.productStandardId,
		s.productStandardNum,st.productStandardName,i.createBy,i.createTime,i.updateBy,i.updateTime,i.deliveryTime,i.deliveryBy
		from t_outstock_item i
		LEFT JOIN t_goods_detail d on
		i.goodsId=d.goodsDetailId
		LEFT JOIN t_goods g on d.goodsId=g.goodsId
		LEFT JOIN t_product p on g.productId=p.productId
		LEFT JOIN
		t_product_standard_detail s on p.productId=s.productId
		LEFT JOIN
		t_product_standard st on s.productStandardId=st.productStandardId
		where i.outstockMainId = #{outstockmainid}
	</select>

	<select id="findAllList" resultMap="BaseResultMap" useCache="false">
		SELECT (select username from sys_user where id = i.createBy) as createBy,
		(select username from sys_user where id = i.updateBy) as updateBy,
		i.deliveryTime,i.deliveryBy,
		g.goodsBatch,i.outstockItemId,i.outstockMainId,i.goodsId,i.outstockNum,
		i.traceCode,p.productId,p.productName,g.productStandardDetailId,
		s.productStandardId,d.productStandardNum,s.productStandardName,i.createTime,i.updateTime
		FROM t_outstock_item i
		LEFT JOIN t_goods g on i.goodsId=g.goodsId
		LEFT JOIN t_product p on g.productId=p.productId
		INNER JOIN t_product_standard_detail d on g.productStandardDetailId=d.productStandardDetailId
		INNER JOIN t_product_standard s on d.productStandardId=s.productStandardId
		where i.outstockMainId = #{outstockmainid} ORDER BY i.updateTime DESC
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from t_outstock_item
		where outstockItemId =
		#{outstockItemId,jdbcType=CHAR}
	</delete>
	<delete id="deleteByOutstockMainId" parameterType="java.lang.String">
		delete from
		t_outstock_item
		where outstockMainId =
		#{outstockMainId,jdbcType=CHAR}
	</delete>

	<select id="findCountByOutstockMainId" resultType="int"
		parameterType="java.lang.String">
		select count(outstockMainId) from t_outstock_item where outstockMainId
		=#{outstockMainId}
	</select>


	<insert id="insert" parameterType="cn.rfidcer.bean.OutstockItem">

		insert into t_outstock_item (outstockItemId, outstockMainId, goodsId,
		outstockNum, traceCode, createTime,
		createBy, updateTime, updateBy
		)
		values (#{outstockItemId,jdbcType=CHAR},
		#{outstockMainId,jdbcType=CHAR},
		#{goodsId,jdbcType=CHAR},
		#{outstockNum,jdbcType=DECIMAL}, #{traceCode,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.rfidcer.bean.OutstockItem">

		insert into t_outstock_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="outstockItemId != null">
				outstockItemId,
			</if>
			<if test="outstockMainId != null">
				outstockMainId,
			</if>
			<if test="saleOrderId != null">
				saleOrderId,
			</if>			
			<if test="goodsId != null">
				goodsId,
			</if>
			<if test="outstockNum != null">
				outstockNum,
			</if>
			<if test="traceCode != null">
				traceCode,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="createBy != null">
				createBy,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="updateBy != null">
				updateBy,
			</if>
			<if test="deliveryTime != null">
				deliveryTime,
			</if>
			<if test="deliveryBy != null">
				deliveryBy,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="outstockItemId != null">
				#{outstockItemId,jdbcType=CHAR},
			</if>
			<if test="outstockMainId != null">
				#{outstockMainId,jdbcType=CHAR},
			</if>
			<if test="saleOrderId != null">
				#{saleOrderId,jdbcType=CHAR},
			</if>				
			<if test="goodsId != null">
				#{goodsId,jdbcType=CHAR},
			</if>
			<if test="outstockNum != null">
				#{outstockNum,jdbcType=DECIMAL},
			</if>
			<if test="traceCode != null">
				#{traceCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="deliveryTime != null">
				#{deliveryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deliveryBy != null">
				#{deliveryBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.rfidcer.bean.OutstockItem">

		update t_outstock_item
		<set>
			<if test="outstockMainId != null">
				outstockMainId = #{outstockMainId,jdbcType=CHAR},
			</if>
			<if test="saleOrderId != null">
				saleOrderId = #{saleOrderId,jdbcType=CHAR},
			</if>			
			<if test="goodsId != null">
				goodsId = #{goodsId,jdbcType=CHAR},
			</if>
			<if test="outstockNum != null">
				outstockNum = #{outstockNum,jdbcType=DECIMAL},
			</if>
			<if test="traceCode != null">
				traceCode = #{traceCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				createBy = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				updateBy = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="deliveryTime != null">
				deliveryTime=#{deliveryTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deliveryBy != null">
				deliveryBy = #{deliveryBy,jdbcType=VARCHAR},
			</if>
		</set>
		where outstockItemId = #{outstockItemId,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.rfidcer.bean.OutstockItem">

		update t_outstock_item
		set outstockMainId =
		#{outstockMainId,jdbcType=CHAR},
		goodsId = #{goodsId,jdbcType=CHAR},
		outstockNum =
		#{outstockNum,jdbcType=DECIMAL},
		traceCode =
		#{traceCode,jdbcType=VARCHAR},
		createTime =
		#{createTime,jdbcType=TIMESTAMP},
		createBy =
		#{createBy,jdbcType=VARCHAR},
		updateTime =
		#{updateTime,jdbcType=TIMESTAMP},
		updateBy =
		#{updateBy,jdbcType=VARCHAR}
		where outstockItemId =
		#{outstockItemId,jdbcType=CHAR}
	</update>
	<select id="list" resultMap="BaseResultMap">

		select
		<include refid="Base_Column_List" />
		from t_outstock_item
	</select>
	<select id="getOutstockItemByQRCode" resultMap="BaseResultMap">
		select
		d.goodsDetailId ,d.goodsId,i.outstockItemId,i.outstockMainId,g.deliverType from t_goods_detail d
		LEFT JOIN t_outstock_item i on d.goodsDetailId=i.goodsId
		INNER JOIN t_goods g on g.goodsId=d.goodsId
		where
		d.code=#{QRCode}
	</select>
	<select id="getOutstockItemByGoodsQRCode" resultMap="BaseResultMap">
		select
		d.goodsDetailId ,d.goodsId,i.outstockItemId,i.outstockMainId,g.deliverType from t_goods_detail d
		INNER JOIN t_outstock_item i on d.goodsId=i.goodsId
		INNER JOIN t_goods g on g.goodsId=d.goodsId
		where
		d.code=#{QRCode} and g.deliverType!=0
	</select>	
	<select id="getClintCountInfo" resultMap="outstockCountInfo">
		select
		p.productName,sd.productStandardNum,s.productStandardName,g.goodsBatch,i.deliveryBy,count(i.outstockItemId)
		totalNum
		from t_outstock_item i
		INNER JOIN t_goods_detail d on i.goodsId=d.goodsDetailId
		INNER JOIN t_goods g on d.goodsId=g.goodsId
		INNER JOIN t_product p on g.productId=p.productId
		INNER JOIN t_product_standard_detail sd on sd.productId=p.productId
		INNER JOIN t_product_standard s on sd.productStandardId=s.productStandardId
		where
		i.outstockMainId=#{outstockMainId}
		group by g.goodsId,i.updateBy
	</select>
</mapper>