<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rfidcer.dao.yz.GoodsInfoMapper">
	<resultMap id="goodsInfoListMap" type="cn.rfidcer.bean.yz.GoodsInfoList"> </resultMap>
	<select id="getGoodsInfoListByPage" resultMap="goodsInfoListMap" useCache="false"  >
		SELECT d.productStandardDetailId as guid,
		d.retailPrice as retailPrice,
		p.productCode as goodsCode,
		p.`status` as saleState ,
		p.productName as goodsName,
		'L' AS unitName
		FROM t_product_standard_detail d 
		INNER JOIN t_product p  on p.productId = d.productId 
		INNER JOIN t_product_standard s  on s.productStandardId = d.productStandardId 
		<where>
			<if test="companyId != null and companyId != ''">
				p.companyId =  #{companyId}
			</if>
			<if test="goodCodeOrName != null and goodCodeOrName != ''">
				and (p.productCode like CONCAT('%',#{goodCodeOrName},'%' ) or p.productName like CONCAT('%',#{goodCodeOrName},'%' ))  
			</if>
		</where>
	</select>
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"></cache>
</mapper>